/*************** Main Page Layout **************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  color: white;
  background-color: red;
  padding: 0;
}

a {
  color: #716D6D;
}

/***************** Media Queries *************/

@media (min-width: 600px) {
  header {
    text-align: center;
  }
}
