body {
	margin: 3;
	padding: 1em;
	border: 3;
	display: flex;
	flex-flow: row wrap;
	font-size: 100%;
	font: inherit;
	font-family: 'Lato', sans-serif;
  text-align: center;
	vertical-align: baseline;
	background-color: orange;
}

#category {
  padding: 1em;
}

#author {
  padding: 1em;
}

#title {
	padding: 1em;
}

#post {
 font-size: 14;

}

form {
	display: inline-block;
	align: left;
}

form input {
	display: block;
}

form textarea {
	align: left;
}
