<!-- // Template -->
<article class="articlePost section-content" data-author="{{author}}" data-category="{{category}}" id="{{id}}">
  <a href="" class="title"><h1>{{title}}</h1></a>
  <h4 class="authorDate">By <a href="{{authorUrl}}">{{author}}</a><br/>Published about {{daysAgo}} days ago.</h4>
  <div class="bodyText">
    {{{markdown}}}
  </div>
  <a href="#" class="expand">Expand <i class="fa fa-long-arrow-right"></i></a><a href="#" class="collapse">Collapse <i class="fa fa-level-up"></i></a>
  <h5 class="category">Category(s): {{category}}</h5>
</article>
